.vh-full {
    height: calc(100vh - 80px);
}

.dark-background-transparent {
    background: rgba(0, 0, 0, 0.8)
    
}

.button {
    text-decoration: none !important;
}

.button:hover {
    color: rgb(175, 175, 175);
    cursor: pointer;
}

.no-padding {
    padding: 0px;
}

.fix-padding {
    padding-top: 25px;
    padding-bottom: 25px;
}

.pad-bottom {
    padding-bottom: 25px;
}

.pixel-margin {
    margin: 1px !important;
}

.transparent-background {
    background: transparent;
}

.white-text {
    color: aliceblue;
}

.transparent-textarea {
    color: aliceblue;
    background: transparent;
    /* border-style: solid;
    outline: 2px white; */
}

.transparent-textarea:focus {
    color: aliceblue;
    background: rgba(0, 0, 0, 0.5);
}