.root {
  background-color: #282c34
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html, body, #reactapp, .App {
  height: 100%;
  width: 100%;
}
.App {
 display: flex;
}

.no-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.spacer {
  height: 20px;
}

.pin-top {
  background: rgba(0, 0, 0, 0.7);
  /* padding-top: 1rem;
  padding-bottom: 1rem; */
  z-index: 10000;
  display: flex;
}

@media only screen and (min-width: 600px) {
  .pin-top {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    /* padding-top: 1rem;
    padding-bottom: 1rem; */
    width: 100%;
    z-index: 10000;
    display: flex;
  }
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-top: 6rem;
}

.nav-text {
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.overlay-text {
  font-weight: 800;
  /* background-color: rgba(0,0,0,0.5); */
  padding-top: 30px;
  padding-bottom: 30px;
  text-shadow: 2px 2px 4px black;
}

.overlay-image {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}